<nav
  class="navbar navbar-expand-lg border-bottom border-2 border-lg-3"
  style="background-color: #f3f1e5"
>
  <div class="container my-3 my-lg-6 justify-content-between">
    <!-- logo -->
    <div class="d-flex justify-content-start gap-lg-12">
      <h1>
        <a href="index.html" class="d-flex align-items-center">
          <span
            class="logo d-flex justify-content-center align-items-center me-2"
          >
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/logo.png?raw=true"
              alt="logo-sparkle"
              class="img-fluid d-none d-lg-block me-0 me-lg-4"
              style="width: 53px; height: 53px" />
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/logo.png?raw=true"
              alt="logo-sparkle"
              class="img-fluid d-block d-lg-none"
              style="width: 40px; height: 40px"
          /></span>
          <span class="h4 me-1 d-none d-lg-inline-block">7TAO </span>
          <span class="display-8 d-none d-lg-inline-block">活動訂票網</span>
        </a>
      </h1>
      <!--搜尋 -->
      <form class="d-flex" role="search">
        <input
          class="form-control border-2 rounded-0 py-0 pe-0"
          type="search"
          placeholder="探索活動"
          aria-label="Search"
        />
        <button class="cus-btn border-0 p-0" type="submit">
          <i
            class="d-block f-8 fs-lg-7 icofont-search-1 text-secondary px-3 px-lg-4"
          ></i>
        </button>
      </form>
    </div>
    <!-- 漢堡選單 -->
    <div>
      <button
        class="navbar-toggle border-2 border-primary rounded-1 d-lg-none bg-transparent py-1 px-3"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasExample"
        aria-controls="offcanvasExample"
      >
        <span
          class="navbar-toggler-icon text-primary"
          style="width: 30px; height: 30px"
        ></span>
      </button>
      <!-- 從右側滑出側邊欄 -->
      <div
        class="offcanvas offcanvas-end p-10 p-lg-0"
        tabindex="-1"
        id="offcanvasExample"
        aria-labelledby="offcanvasExampleLabel"
      >
        <!-- 叉叉按鈕 -->
        <button
          type="button"
          class="btn-close ms-auto text-primary d-lg-none"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item fs-7 font-yeseva">
            <a class="nav-link h-link-green me-6" aria-current="page" href="#"
              ><i class="icofont-ui-file me-1"></i>REGISTER</a
            >
          </li>
          <li class="nav-item fs-7 font-yeseva">
            <a class="nav-link h-link-green" href="#"
              ><i class="icofont-ui-user me-1"></i>LOGIN</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
