.banner-icon {
  width: 40px;
  height: auto;
  @include pc {
    width: 80px;
  }
}

.recent-pic {
  height: 210px;
  @include pc {
    height: 255px;
  }
}

.tag-rotate-end {
  transform: translate(-50%, -50%) rotate(-4deg);
}
.card-rotate-start {
  transform: rotate(4deg);
}
.card-rotate-end {
  transform: rotate(-2deg);
}
